.firstLogin {
    position: relative;
    left: 30%;
    top: 40%;
    padding: 30px;
    height: 300px;
    width: 250px;
    background-color: greenyellow;
}

.login{
    text-align: center;
    color: deeppink;
    padding: 10px;
    font-size: 40px;
}

.label{
    color: black;
    padding: 10px;
}

.loginPage{
    height: 100%;
    width: 100%;
}